<nav>
    <p>Library</p>
    <div>
        <ul>
            <li>
                <a href="{{ url_for('general.index') }}">Home</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
            <img style="width: 3rem; aspect-ratio: 1; border-radius: 100%;" src="{{ url_for('profile.load', filename = user.profile_picture) }}" alt="{{ user.username }}-profile">
            <p>{{ user.username }}</p>
            <a href="{{ url_for('auth.logout') }}">Log out</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Log in</a>
        {% endif %}
    </div>
</nav>