<nav class="navbar">
    <div class="navbar-brand">
        <a href="{{ url_for('general.index') }}" class="navbar-item">Library</a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('general.index') }}">Home</a>
        </div>
    </div>

    <div class="navbar-end">
        {% if user.is_authenticated %}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {% if user.profile_picture %}
                        <figure class="image">
                            <img class="is-rounded" style="aspect-ratio: 1;" src="{{ url_for('profile.load_user_image', user_id=user.id, filename = user.profile_picture) }}" alt="{{ user.username }}-profile">
                        </figure>
                    {% endif %}
                    <p>{{ user.username }}</p>
                </a>
                <div class="navbar-dropdown">
                    <a href="{{ url_for('profile.profile_index') }}" class="navbar-item">Profile</a>
                    <div class="navbar-item">
                        <a class="button is-primary" href="{{ url_for('auth.logout') }}">Log out</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="navbar-item">
                <a class="button is-primary" href="{{ url_for('auth.login') }}">Log in</a>
            </div>
        {% endif %}
    </div>
</nav>