{% extends 'general/base.html' %}

{% block title %}
	Edit Profile
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <form method="post" action="{{ url_for('profile.upload') }}" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit" value="Upload">
            Upload
        </button>
    </form>
    
    <img style="width: 10rem; aspect-ratio: 1;" src="{{ url_for('profile.load', filename = user.profile_picture) }}" alt="{{ user.username }}-profile">
{% endblock %}