{% extends 'general/base.html' %}
{% from 'general/BookCard.html' import BookCard %}

{% block title %}
	Your Profile
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <div>
        <img style="width: 10rem; aspect-ratio: 1; border-radius: 100%;" src="{{ url_for('profile.load_user_image', user_id=user.id, filename=user.profile_picture) }}" alt="{{ user.username }}-profile">
        <p>{{ user.username }}</p>
    </div>

    <h3 class="title is-3">Your current borrowings</h3>

    <div class="grid mt-4">
        {% for book in books %}
            <div class="cell" id="book-{{ book.id }}">
                {% call BookCard(book) %}{% endcall %}
            </div>
        {% endfor %}
    </div>
{% endblock %}