{% extends 'general/base.html' %}
{% from 'general/BookCard.html' import BookCard %}

{% block title %}
    Your profile
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <div class="columns is-vcentered">
        {% if user.profile_picture %}
            <div class="column is-1">
                <figure class="image is-square">
                    <img class="is-rounded" src="{{ url_for('profile.load_user_image', filename=user.profile_picture) }}" alt="{{ user.username }}-profile">
                </figure>
            </div>
        {% endif %}
        <p class="column title is-3">{{ user.username }}</p>
    </div>

    <hr>
    <h3 class="title is-3">Your current borrowings</h3>

    <div class="fixed-grid has-4-cols mt-4">
        <div class="grid">
            {% for book in books %}
                <div class="cell is-grid is-fullheight" id="book-{{ book.id }}">
                    {% call BookCard(book) %}{% endcall %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}