{% extends 'general/base.html' %}
{% from 'general/BookCard.html' import BookCard %}

{% block title %}
    Your profile
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <div class="level">
        <div class="level-left">
            <div class="level-item" style="width: 7rem">
                <figure class="image is-square">
                    <img class="is-rounded" src="{{ url_for('profile.load_user_image', user_id=user.id, filename=user.profile_picture) }}" alt="{{ user.username }}-profile">
                </figure>
            </div>
            <p class="level-item title is-3">{{ user.username }}</p>
        </div>
    </div>

    <h3 class="title is-3">Your current borrowings</h3>

    <div class="grid mt-4">
        {% for book in books %}
            <div class="cell" id="book-{{ book.id }}">
                {% call BookCard(book) %}{% endcall %}
            </div>
        {% endfor %}
    </div>
{% endblock %}