{% macro BookCard(book) %}
    <div class="card">
        <header id="book-header-{{ book.id }}" class="card-header is-clickable">
            <div class="card-header-title">
                <div class="content">
                    <p class="title is-5">{{ book.title }}</p>
                    <p class="subtitle is-6 mt-0">
                        by {{ book.author }}
                        <br>
                        {{ book.genre }}
                    </p>
                </div>
            </div>
        </header>

        <div class="card-image">
            <figure class="image">
                {% if book.book_picture %}
                    <figure id="book-image-{{ book.id }}" class="image is-clickable">
                        <img src="{{ url_for('general.load_book_image', book_id=book.id, filename=book.book_picture) }}">
                    </figure>
                {% endif %}
            </figure>
        </div>

        <footer class="card-footer">
            {{ caller() }}
        </footer>
    </div>

    <script>
        const getBookDetail = () => {
            fetch(`detail/{{ book.id }}`, {
                method: "GET",
                headers: {
                    'Content-Type': 'application/html'
                },
                redirect: "follow"
            }).then(response => window.location.href = response.url)
        }

        document.getElementById("book-header-{{ book.id }}").addEventListener("click", (event) => {
            getBookDetail()
        })

        document.getElementById("book-image-{{ book.id }}").addEventListener("click", (event) => {
            getBookDetail()
        })
    </script>
{% endmacro %}