{% macro BookCard(book) %}
    <div id="book-{{ book.id }}" class="card">
        <div class="card-image">
            <figure class="image">
                {% if book.book_picture %}
                    <figure id="book-image-{{ book.id }}" class="image is-clickable">
                        <img class="is-aspect-ratio-2by3" src="{{ url_for('general.load_book_image', book_id=book.id, filename=book.book_picture) }}">
                    </figure>
                {% endif %}
            </figure>
        </div>

        <div style="height: 100%" id="book-content-{{ book.id }}" class="card-content is-clickable">
            <div class="content">
                <p class="title is-5">{{ book.title }}</p>
                <p class="subtitle is-6 mt-0">
                    by {{ book.author }}
                    <br>
                    {{ book.genre }}
                </p>
            </div>
        </div>

        <footer class="card-footer">
            {{ caller() }}
        </footer>
    </div>

    <script>
        const getBookDetail{{ book.id }} = () => {
            fetch("{{ url_for('general.detail_book', book_id = book.id) }}", {
                method: "GET",
                headers: {
                    'Content-Type': 'application/html'
                },
                redirect: "follow"
            }).then(response => window.location.href = response.url)
        }

        document.getElementById("book-content-{{ book.id }}").addEventListener("click", (event) => {
            getBookDetail{{ book.id }}()
        })

        document.getElementById("book-image-{{ book.id }}").addEventListener("click", (event) => {
            getBookDetail{{ book.id }}()
        })
    </script>
{% endmacro %}

{% macro BookCardScript(book) %}

{% endmacro %}