{% extends 'general/base.html' %}

{% block title %}
	{{ book.title }}
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <div class="container">
        <section class="section">
            <h3 class="title is-3">{{ book.title }}</h3>
            <h5 class="subtitle is-5 mt-0">{{ book.author }}</h5>
            <div class="level">
                <div class="level-left">
                    <figure style="width: 35rem" class="image is-aspect-ratio-3by2">
                        <img src="{{ url_for('general.load_book_image', book_id=book.id, filename=book.book_picture) }}">
                    </figure>
                </div>
                <div style="width: 35rem" class="level-right">
                    <div class="content">
                        <p><b>Publisher:</b> {{ book.publisher }}</p>
                        <p><b>Year:</b> {{ book.year }}</p>
                        <p><b>Genre:</b> {{ book.genre }}</p>
                        <p><b>Description:</b><br> {{ book.description }}</p>

                        {% if user.is_authenticated %}
                            <h4 class="title is-4">Book is available for borrowing</h4>

                            <form method="post" action="{{ url_for('general.borrow', book_id=book.id) }}">
                                <div class="field">
                                    <label class="label" for="from_date">From</label>
                                    <div class="control">
                                        <input class="input" type="date" name="from_date">
                                    </div>
                                </div>

                                <div class="field">
                                    <label class="label" for="to_date">From</label>
                                    <div class="control">
                                        <input class="input" type="date" name="to_date">
                                    </div>
                                </div>

                                <div class="field">
                                    <div class="control">
                                        <button class="button is-primary" type="submit">Borrow</button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}