{% extends 'general/base.html' %}

{% block title %}
	Home
{% endblock %}

{% block body %}
    <h3 class="title is-3">Available books</h3>

    <form method="get" action="{{ url_for('general.search') }}">
        <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
                <input class="input" type="text" name="value" placeholder="Title, Author, Publisher, Year">
                <span class="icon is-small is-left">
                    <i class="fa fa-book"></i>
                </span>
            </div>
            <div class="control">
                <button class="button is-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="grid mt-4">
        {% for book in books %}
            <div class="cell" id="book-{{ book.id }}">
                <div class="card">
                    <header class="card-header">
                        <div class="card-header-title">
                            <div class="content">
                                <p class="title is-5">{{ book.title }}</p>
                                <p class="subtitle is-6 mt-0">
                                    by {{ book.author }}
                                    <br>
                                    {{ book.genre }}
                                </p>
                            </div>
                        </div>
                    </header>

                    <div class="card-content">
                        <p>{{ book.description }}</p>
                    </div>

                    <footer class="card-footer">
                        {% if user.is_authenticated %}
                            <form class="card-footer-item" method="get" action="{{ url_for('borrowing.borrowing_index', book_id = book.id) }}">
                                <div class="field">
                                    <button class="button is-primary" type="submit">Borrow</button>
                                </div>
                            </form>
                        {% endif %}
                    </footer>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}