{% extends 'general/base.html' %}
{% from 'general/BookCard.html' import BookCard %}

{% block title %}
	Home
{% endblock %}

{% block body %}
    <h3 class="title is-3">Available books</h3>

    <form method="get" action="{{ url_for('general.search') }}">
        <div class="field has-addons">
            <div class="control is-expanded has-icons-left">
                <input class="input" type="text" name="query" placeholder="Title, Author, Publisher">
                <span class="icon is-small is-left">
                    <i class="fa fa-book"></i>
                </span>
            </div>
            <div class="control">
                <button class="button is-primary" type="submit">Search</button>
            </div>
        </div>
    </form>

    <div class="fixed-grid has-4-cols mt-4">
        <div class="grid">
            {% for book in books %}
                <div class="cell is-grid is-fullheight" id="book-{{ book.id }}">
                    {% call BookCard(book) %}{% endcall %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}