{% extends 'general/base.html' %}
{% from 'general/BookCard.html' import BookCard %}

{% block title %}
    {{ display_user.username }} Profile
{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div>
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <div class="columns is-vcentered">
        {% if display_user.profile_picture %}
            <div class="column is-1">
                <figure class="image is-square">
                    <img class="is-rounded" src="{{ url_for('profile.load_user_image', filename=display_user.profile_picture) }}" alt="{{ display_user.username }}-profile">
                </figure>
            </div>
        {% endif %}
        <p class="column title is-3">{{ display_user.username }}</p>
    </div>

    <hr>
    <h3 class="title is-3">Your current borrowings</h3>

    <div class="fixed-grid has-4-cols mt-4">
        <div class="grid">
            {% for book in books %}
                <div class="cell" id="book-{{ book.id }}">
                    {% set caller_ = caller %}
                    {% call BookCard(book) %}
                        <form class="card-footer-item" method="post" action="{{ url_for('general.borrow_return', user_id=display_user.id, book_id=book.id) }}">
                            <div class="field">
                                <button class="button is-primary" type="submit">Return</button>
                            </div>
                        </form>
                    {% endcall %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
